body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: Roboto, sans-serif;

}

.nav {
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    align-content: center;
    gap: 350px;
}

.nav .left {
    align-items: center;
    justify-content: center;
    height: 50px;
    display: flex;
    gap: 20px;
    margin-left: 150px;
}

.nav .left img {
    height: 50px;
    width: 100px;
}

.nav .left input {
    height: 25px;
    width: 560px;
    padding: 10px;
    background-image: url(icons8-search-50.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 7px 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
}


.nav .right select {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    font-size: 17px;
}

.nav .right a {
    background-color: #eb4e62;
    color: white;
    border: 0;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
.nav .left a {
    background-color: #eb4e62;
    color: white;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
        padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.nav .right {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}



/* nav2 */

.nav2 {
    height: 50px;
    /* width: 100%; */
    background-color: #f5f5f5;
    border: 1px solid white;
    padding-left: 150px;
    display: flex;
    gap: 450px;

}

.nav2 .left {
    height: 50px;

    display: flex;
    gap: 30px;
    align-items: center;

}

.nav2 .left a {
    text-decoration: none;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.nav2 .right {
    display: flex;
    gap: 30px;
    align-items: center;

}

.nav2 .right a {
    text-decoration: none;
    color: #a4a7ae;
    font-family: Roboto, sans-serif;
    font-size: 14px;

}


/* img */
.img img {
    height: 500px;
    width: 100%;
}

/* about the movie */
.about {
    padding-left: 150px;
}

.about h5 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;

}

.about p {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.about hr {
    width: 1000px;
    margin: 0;
    margin-top: 30px;

}

/* cast */

.cast {
    padding-left: 150px;

}

.cast h5 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.nadan h6 {
    margin: 0;
    color: rgb(0, 0, 0);
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding-left: 15px;
}

.nadan p {
    margin: 0;
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding-left: 50px;
}

.cast .nadan {
    display: flex;
    gap: 30px;
}

.nadan img {
    border-radius: 90px;
    height: 120px;
    width: 120px;
}

/* crew */
.cast hr {
    width: 1000px;
    margin: 0;
    margin-top: 30px;

}

.img a {
    position: absolute;
    left: 480px;
    top: 485px;
    background-color: #eb4e62;
    border: 0;
    color: white;
    padding: 12px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    text-decoration: none;

}











/* end1 */
.end1 {
    margin-top: 150px;
    height: 100px;
    width: 100%;
    background-color: #313035;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.end1 h4 {
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

.end1 h5 {
    color: white;
    font-size: 17px;
    margin-top: 10px;
    font-weight: 500;
}

.end1 button {
    background-color: #eb4e62;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 180px;

}


/* end2 */
.end2 {
    height: 150px;
    width: 100%;
    background-color: #404043;
    display: flex;
    gap: 70px;
}

.end2 img {
    height: 60px;
    width: 60px;
    margin-top: 30px;
}

.end2 h6 {
    color: #8b8e82;
    font-size: 13px;
}

.end2 .cus {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
}


/* end3 */
.end3 {
    background-color: #333338;
    font-size: 11px;
    letter-spacing: 0.1px;
    padding-left: 160px;
    padding-top: 30px;
    padding-bottom: 15px;

}

.end3 h6 {
    color: rgb(165, 165, 165);
    font-family: Roboto, sans-serif;


}

.end3 p {
    color: rgb(127, 127, 127);
    font-family: Roboto, sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;

}


/* end4 */
.end4 {
    height: 200px;
    background-color: #333338;
    margin-top: 0;
    padding-top: 50px;
    /* align-items: center; */
    justify-content: center;
    display: flex;
}

.end4 hr {
    background-color: transparent;
    color: white;
    margin: 0;
    padding: 0;
    width: 1450px;

}

.end4 img {
    height: 60px;
    width: 140px;
    position: absolute;
    top: 3326px;
    background-color: #333338;

}



/* end5 */
.end5 {
    height: 80px;
    background-color: #333338;
    margin-top: 0;
    /* padding-top: 50px; */
    display: flex;
    gap: 17px;
    justify-content: center;
}

.end5 img {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}


/* end6 */
.end6 {
    height: 100px;
    background-color: #333338;

}

.end6 p {
    text-align: center;
    font-family: Roboto, sans-serif;
    color: rgb(127, 127, 127);
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
}