<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/filim.css'%}">
</head>

<body>
    <!-- navbar -->
    <div class="nav">
        <div class="left">
            <img src="https://logodix.com/logo/2010856.jpg" alt="">
            <input type="text" name="" id="" placeholder="     Search for Movies, Events,Plays, Sports and Activities">
        </div>
        <div class="right">
            <select name="" id="">
                <option value="">kochi</option>
            </select>
            <button>Sign in</button>
            <div class="img1">
                <img src="icons8-hamburger-menu-30.png" alt="">
            </div>
        </div>
    </div>
    <!-- nav2 -->
    <div class="nav2">
        <div class="left">
            <a href="">Movies</a>
            <a href="">Stream</a>
            <a href="">Events</a>
            <a href="">Plays</a>
            <a href="">Sports</a>
            <a href="">Activities</a>
        </div>
        <div class="right">
            <a href="">ListYourShows</a>
            <a href="">Corporates</a>
            <a href="">Offers</a>
            <a href="">Gift Cards</a>
        </div>
    </div>


    <div class="img">
        <img src="{% static 'images/Screenshot 2025-10-16 130828.png'%}" alt="">
        <button>Book tickets</button>
    </div>


    <!-- about the movie   -->

    <div class="about">
        <h5>About the movie </h5>
        <p>The moment has arrived. The divine forest whispers. A Legend was born!</p>
        <hr>
    </div>

    <!-- cast -->
    <div class="cast">
        <h5>Cast</h5>
        <div class="nadan">
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/rishab-shetty-1064313-1724645842.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/rukmini-vasanth-1092753-15-05-2018-10-49-55.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/gulshan-devaiah-13831-20-12-2017-02-46-39.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/jayaram-subramaniam-2924-24-03-2017-18-02-25.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            
        </div>
    </div>

<!-- crew -->
       <div class="cast">
        <hr>
        <h5>Crew</h5>
        <div class="nadan">
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/rishab-shetty-1064313-1724645842.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/vijay-kiragandur-2034433-1708159929.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/b-ajaneesh-loknath-1044651-1681029949.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/arvind-kashyap-1086878-16-10-2017-05-36-32.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/suresh-mallaiah-2050578-1757071844.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/arjun-raj-iein038051-01-10-2021-17-46-53.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
            <div class="actors">
                <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/pragathi-rishab-shetty-2050559-1757057319.jpg"
                    alt="">
                <h6> Rishab Shetty</h6>
                <p>Actor</p>
            </div>
        </div>
    </div>
    <!-- you might aloso like -->






     <!-- end1 -->
    <div class="end1">
        <img src="//in.bmscdn.com/webin/common/icons/hut.svg" alt="">
        <h4>List Your Show</h4>
        <h5>Get a show,event,activity or a great experience? Partner with us & get listed on BookMyShow</h5>
        <button>Contact today!</button>
    </div>


    <!-- end2 -->
    <div class="end2">
        <div class="cus">
            <img src="{% static 'images/icons8-customer-care-64.png'%}" alt="">
            <h6>24/7 CUSTOMER CARE</h6>
        </div>
        <div class="cus">
            <img src="{% static 'images/icons8-tickets-64.png'%}" alt="">
            <h6>RESEND BOOKING CONFIRMATION</h6>
        </div>
        <div class="cus">
            <img src="{% static 'images/icons8-letter-50.png'%}" alt="">
            <h6>SUBSCRIBE TO THE NEWSLETTER</h6>
        </div>
    </div>

    <!-- end3 -->
    <div class="end3">
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
    </div>


    <!-- end4 -->

    <div class="end4">
        <hr>
        <img src="{% static 'images/pngwing.com.png'%}" alt="">
    </div>

    <!-- end5 -->
    <div class="end5">
        <img src="{% static 'images/icons8-fb-30.png'%}" alt="">
        <img src="{% static 'images/icons8-x-50.png'%}" alt="">
        <img src="{% static 'images/icons8-instagram-50.png'%}" alt="">
        <img src="{% static 'images/icons8-youtube-50.png'%}" alt="">
        <img src="{% static 'images/icons8-pinterest-32.png'%}" alt="">
        <img src="{% static 'images/icons8-linkedin-2-30.png'%}" alt="">

    </div>

    <!-- end6 -->
    <div class="end6">
        <p>Copyright 2025 © Bigtree Entertainment Pvt. Ltd. All Rights Reserved. <br>
            The content and images used on this site are copyright protected and copyrights vests with the respective
            owners. The usage of the content and images on this website is intended to promote the works and no
            endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.</p>
    </div>
</body>

</html>