<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyShow</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- navbar -->
    <div class="nav">
        <div class="left">
            <img src="https://logodix.com/logo/2010856.jpg" alt="">
            <input type="text" name="" id="" placeholder="     Search for Movies, Events,Plays, Sports and Activities">
        </div>
        <div class="right">
            <select name="" id="">
                <option value="">kochi</option>
            </select>
            <button>Sign in</button>
            <div class="img1">
                <img src="{% static 'images/icons8-hamburger-menu-30.png'%}" alt="">
            </div>
        </div>
    </div>
    <!-- nav2 -->
    <div class="nav2">
        <div class="left">
            <a href="">Movies</a>
            <a href="">Stream</a>
            <a href="">Events</a>
            <a href="">Plays</a>
            <a href="">Sports</a>
            <a href="">Activities</a>
        </div>
        <div class="right">
            <a href="">ListYourShows</a>
            <a href="">Corporates</a>
            <a href="">Offers</a>
            <a href="">Gift Cards</a>
        </div>
    </div>


    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://assets-in-gm.bmscdn.com/promotions/cms/creatives/1757148047631_6thsepplaycardsep25hpptmdesktop.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://assets-in-gm.bmscdn.com/promotions/cms/creatives/1759491203563_lollaweb.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://assets-in-gm.bmscdn.com/promotions/cms/creatives/1759754240366_webbanner1240x300.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- autoplayend -->
    <!-- filimcard -->

    <div class="title">
        <h3>Recommended Movies</h3>
        <h6>See All ></h6>
    </div>
    <div class="grid">
        <div class="card1">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OS4zLzEwICAzODZLKyBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00377351-ctlsgzebdx-portrait.jpg"
                alt="">
            <a href="../filim">Kanthara:Chapter-1</a>
            <h6>Adventure/Drama/Thriller</h6>

        </div>
        <div class="card2">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OS4yLzEwICAyMjFLKyBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00456016-ebbrjsyjsl-portrait.jpg"
                alt="">
            <h4>Lokah-1</h4>
            <h6>Action/Comedy/Fantacy</h6>

        </div>
        <div class="card3">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@like_202006280402.png,lx-24,ly-617,w-29,l-end:l-text,ie-MTIuNksrIExpa2Vz,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00465248-anlqjpwusb-portrait.jpg"
                alt="">
            <h4>The Pet Detective</h4>
            <h6>Comedy/Mystery/Thriller</h6>

        </div>
        <div class="card4">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC40LzEwICAxMC41SysgVm90ZXM%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00459410-sgyafwcvxz-portrait.jpg"
                alt="">
            <h4>Balti</h4>
            <h6>Action/Sports/Thriller</h6>

        </div>
        <div class="card5">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OS4zLzEwICA3NjArIFZvdGVz,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00465653-japjxhzhnn-portrait.jpg"
                alt="">
            <h4>Avihitham</h4>
            <h6>Comedy</h6>

        </div>
    </div>



    <!-- nextcard -->

    <div class="card">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-1440,h-120/stream-leadin-web-collection-202210241242.png"
            alt="">
    </div>


    <!-- nextcard -->
    <div class="precardtext">
        <h3>The Best Of Live Events</h3>
    </div>
    <div class="container">
        <div class="c1">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-800,h-800:w-300/icc-womens-2025-best-of-live-events-collection-202508300121.png"
                alt="">
        </div>
        <div class="c2">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-800,h-800:l-text,ie-MTUrIEV2ZW50cw%3D%3D,co-FFFFFF,ff-Roboto,fs-64,lx-48,ly-320,tg-b,pa-8_0_0_0,l-end:w-300/comedy-shows-collection-202211140440.png"
                alt="">
        </div>
        <div class="c3">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-800,h-800:l-text,ie-NCBFdmVudHM%3D,co-FFFFFF,ff-Roboto,fs-64,lx-48,ly-320,tg-b,pa-8_0_0_0,l-end:w-300/amusement-parks-banner-desktop-collection-202503251132.png"
                alt="">
        </div>
        <div class="c4">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-800,h-800:l-text,ie-MyBFdmVudHM%3D,co-FFFFFF,ff-Roboto,fs-64,lx-48,ly-320,tg-b,pa-8_0_0_0,l-end:w-300/theatre-shows-collection-202211140440.png"
                alt="">
        </div>
        <div class="c5">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-800,h-800:l-text,ie-MTArIEV2ZW50cw%3D%3D,co-FFFFFF,ff-Roboto,fs-64,lx-48,ly-320,tg-b,pa-8_0_0_0,l-end:w-300/kids-banner-desktop-collection-202503251132.png"
                alt="">
        </div>
    </div>



    <!-- end1 -->
    <div class="end1">
        <img src="//in.bmscdn.com/webin/common/icons/hut.svg" alt="">
        <h4>List Your Show</h4>
        <h5>Get a show,event,activity or a great experience? Partner with us & get listed on BookMyShow</h5>
        <button>Contact today!</button>
    </div>


    <!-- end2 -->
    <div class="end2">
        <div class="cus">
            <img src="{% static 'images/icons8-customer-care-64.png'%}" alt="">
            <h6>24/7 CUSTOMER CARE</h6>
        </div>
        <div class="cus">
            <img src="{% static 'images/icons8-tickets-64.png'%}" alt="">
            <h6>RESEND BOOKING CONFIRMATION</h6>
        </div>
        <div class="cus">
            <img src="{% static 'images/icons8-letter-50.png'%}" alt="">
            <h6>SUBSCRIBE TO THE NEWSLETTER</h6>
        </div>
    </div>

    <!-- end3 -->
    <div class="end3">
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
        <div class="credit">
            <h6>MOVIES NOW SHOWING IN KOCHI</h6>
            <p>Kanthara:A Legend Chapter-1 | The Pet Detective | Paathirathri | Dude | Lokah-1 | Ravana Prabhu | Bison
                Kaalamaadan |Theatre:The Mystry Of Reality | Balti | Tron:Ares</p>
        </div>
    </div>


    <!-- end4 -->

    <div class="end4">
        <hr>
        <img src="{% static 'images/pngwing.com.png'%}" alt="">
    </div>

    <!-- end5 -->
    <div class="end5">
        <img src="{% static 'images/icons8-fb-30.png'%}" alt="">
        <img src="{% static 'images/icons8-x-50.png'%}" alt="">
        <img src="{% static 'images/icons8-instagram-50.png'%}" alt="">
        <img src="{% static 'images/icons8-youtube-50.png'%}" alt="">
        <img src="{% static 'images/icons8-pinterest-32.png'%}" alt="">
        <img src="{% static 'images/icons8-linkedin-2-30.png'%}" alt="">

    </div>

    <!-- end6 -->
    <div class="end6">
        <p>Copyright 2025 © Bigtree Entertainment Pvt. Ltd. All Rights Reserved. <br>
            The content and images used on this site are copyright protected and copyrights vests with the respective
            owners. The usage of the content and images on this website is intended to promote the works and no
            endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.</p>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</html>